IMAGE_REGISTRY=ghcr.io
IMAGE_NAMESPACE=your-github-username
IMAGE_TAG=latest

JWT_SECRET=change-me-to-a-long-random-secret
EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
REDIS_HOST=redis
REDIS_PORT=6379
ZIPKIN_ENDPOINT=http://zipkin:9411/api/v2/spans
MANAGEMENT_TRACING_ENABLED=true
MANAGEMENT_TRACING_SAMPLING_PROBABILITY=1.0

AUTH_POSTGRES_DB=auth_db
AUTH_POSTGRES_USER=postgres
AUTH_POSTGRES_PASSWORD=postgres
AUTH_DB_URL=jdbc:postgresql://auth-db:5432/auth_db
AUTH_DB_USERNAME=postgres
AUTH_DB_PASSWORD=postgres

USER_POSTGRES_DB=user_db
USER_POSTGRES_USER=postgres
USER_POSTGRES_PASSWORD=postgres
USER_DB_URL=jdbc:postgresql://user-db:5432/user_db
USER_DB_USERNAME=postgres
USER_DB_PASSWORD=postgres

WALLET_POSTGRES_DB=wallet_db
WALLET_POSTGRES_USER=postgres
WALLET_POSTGRES_PASSWORD=postgres
WALLET_DB_URL=jdbc:postgresql://wallet-db:5432/wallet_db
WALLET_DB_USERNAME=postgres
WALLET_DB_PASSWORD=postgres

REWARD_POSTGRES_DB=reward_db
REWARD_POSTGRES_USER=postgres
REWARD_POSTGRES_PASSWORD=postgres
REWARD_DB_URL=jdbc:postgresql://reward-db:5432/reward_db
REWARD_DB_USERNAME=postgres
REWARD_DB_PASSWORD=postgres

MAIL_USERNAME=
MAIL_PASSWORD=
KYC_UPLOAD_DIR=uploads/kyc
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
RAZORPAY_KEY=
RAZORPAY_SECRET=
